@page
@model MyRazorPage.Pages.UserPage.SignalrProductModel
@{
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity Per Unit
            </th>
            <th>
                UnitPrice
            </th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>